@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ControlPanel</title>
    <link rel="stylesheet" href="~/css/panel.css" asp-append-version="true" />
</head>
<body>
    
</body>
</html>
